body {background-color: #372727f4;
font-size: 20px;
padding: 0px 0px 0px 40px;
color: rgb(182, 164, 164);}

ul {color: rgb(180, 161, 161);}
a {color: rgb(182, 164, 164);}

.header-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 30px; }
  .header-text {
  text-align: left;}

h1 {background-color: #5f5353f4;
color: rgb(255, 255, 255);
border-radius: 10px;
border: solid white;
padding: 20px 20px 20px 20px;
font-size: 40px;
font-family: 'Courier New', Courier, monospace;}

.profile-photo { background-color: #5f5353f4;
padding: 20px 20px 20px 20px;
width: 150px; height: auto;
border: solid white;
border-radius: 80px 0 80px 0;}

h2 {
  display: inline-block;
  padding: 0px 50px 0px 50px;
  background-color: #897070f4;
  color: rgb(37, 28, 28);
  font-size: 30px;
  border-radius: 10px;
  border: solid white;
  font-family: 'Courier New', Courier, monospace;}

h3 {color: rgb(190, 175, 175);
  text-decoration: underline;
  text-decoration-color: rgb(195, 186, 186);}

footer { display: flex;
  align-items: center; 
  justify-content: center;}